{% extends 'base.html' %}

{% block body %}
<div class="search_form">
     <ul>
        Example of using:
        <li><br>
            exercise: a <br>
            tag: price
        </li>
         <li><br>
            exercise: b <br>
            tag: word proiect
        </li> <li><br>
            exercise: c <br>
            tag: 30
        </li> <li><br>
            exercise: d <br>
            tag: 5
        </li>
    </ul>
    <form method="POST" enctype="multipart/form-data">
        <input type="text" name="exercise" placeholder="chose exercise">
        <input type="text" name="tag" placeholder="chose tag">
        <input type="submit" name="Submit">
        <button class="btn"><a href="/"> Go to upload file</a></button>
    </form>
    <ul>
    {% for file_name in content %}
    <li><a href="/read/{{file_name}}"> {{ file_name }}</a></li>
    {% endfor %}
</ul>
</div>
{% endblock %}