{% extends 'base.html' %}

{% block body %}
<div class="search_form">
    Interfață web pentru gestionarea resurselor adnotate.<br>
    Având la dispoziție o colecție de resurse XML adnotate, aplicația oferă o interfață ce permite căutări în colecție de genul:
    <ul>
        <li>Toate documentele care conțin elementul(tag-ul) “document”.<br>
            exercise: a <br>
            tag: price
        </li>
        <li>Toate documentele care conțin cuvântul “proiect” sub elementul “word”.<br>
            exercise: b <br>
            tag: word proiect
        </li>
        <li>Toate documentele care conțin un anumit număr de elemente.<br>
            exercise: c <br>
            tag: 30
        </li>
        <li>Toate documentele care au o adâncime a arborelui XML mai mare de 5<br>
            exercise: d <br>
            tag: 5
        </li>
    </ul>
    <form method="POST" enctype="multipart/form-data">
        <input type="text" name="exercise" placeholder="chose exercise">
        <input type="text" name="tag" placeholder="chose tag">
        <input type="submit" name="Submit">
        <button class="btn"><a href="/"> Go to upload file</a></button>
    </form>
    <ul>
    {% for file_name in content %}
    <li><a href="/read/{{file_name}}"> {{ file_name }}</a></li>
    {% endfor %}
</ul>
</div>
{% endblock %}